<section id="udsm-dhis-club-main-app">
    <header id="udsm-dhis-club-header">
        <h1 id="hint">Developer Bootcamp • NGRX • To-Do App</h1>

        <div class="input-todo-item">
            <input [(ngModel)]="todoTitle" id="create-new-todo" placeholder="Add new task..." autofocus />
            <i (click)="addTodo()" id="add" class="fas fa-plus-circle adding-btn" aria-label="Add Task"></i>
        </div>
        <div *ngIf="
        (loadingTodo$ | async) ||
        (addingTodo$ | async) ||
        (loadingTodo$ | async) ||
        (deletingTodo$ | async) ||
        (updatingTodo$ | async)
      ">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </header>
    <main id="udsm-dhis-club-main">
        <ul id="udsm-dhis-club-todo-list"></ul>
        <div class="todo-list">
            <div *ngFor="let todo of pendingTodos$ | async" class="todo-item-list">
                <span class="todo-text">{{ todo.title }}</span>
                <div class="actions">
                    <button mat-icon-button (click)="editTodo(todo)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteTodo(todo)">
                        <mat-icon style="color: red">delete</mat-icon>
                    </button>
                    <button mat-icon-button (click)="markAsCompleted(todo)">
                        <mat-icon>check_circle</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <h3 id="completed-title" class="completed-hint">COMPLETED TASKS</h3>
        <hr class="horizontal" />
        <ul id="udsm-dhis-club-todo-list-completed"></ul>
        <div class="todo-list">
            <div *ngFor="let todo of completedTodos$ | async" class="todo-item-list">
                <span class="todo-text-completed">{{ todo.title }}</span>
                <div class="actions">
                    <button *ngIf="!todo?.completed" mat-icon-button (click)="editTodo(todo)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteTodo(todo)">
                        <mat-icon style="color: red">delete</mat-icon>
                    </button>
                    <button mat-icon-button (click)="markAsCompleted(todo)">
                        <mat-icon style="color: green">check_circle</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </main>
    <footer id="udsm-dhis-club-todo-footer">
        <div class="task-status">
            <span class="status-item">
                Completed Task
                <mat-icon class="status-icon" style="color: green">check_circle</mat-icon>
            </span>
            <span class="status-item">
                |&nbsp;Created Task
                <mat-icon class="status-icon">check_circle</mat-icon>
            </span>
        </div>
    </footer>
</section>