<div class="mat-elevation-z3 mat-typography d-print-none">
    <div class="header-container">
        <div class="header-left">
            <a class="header-logo" matRipple>
                <img [src]="appIcon" alt="App Logo" />
            </a>
            <div class="header-title">
                <a>UDSM | DHIS2 Lab | Bootcamp | Angular-NGRX WEB App | Demo</a>
            </div>
        </div>
        <div class="header-right mat-typography">
            <!-- Example: Add your icons and profile button here -->
            <div class="icon-button apps-btn"></div>
            <div class="icon-button apps-search-icon"></div>
            <div class="user-profile">
                <a class="header-logo" matRipple>
                    <img [src]="appIconRight" alt="App Logo" />
                </a>
            </div>
        </div>
    </div>
</div>